
.container{
  background-color:rgb(173, 223, 230);
  margin-top: 50px;
}

table:hover { 
  background-color: rgba(172, 255, 47, 0.979);
}

td:hover{
  background-color:rgb(255, 192, 211);
}
input:hover{
  background-color: rgb(226, 198, 43);
}
 
tr:hover { 
  background-color:rgb(255, 192, 208);
}
.contactList{
  text-align: center;
  color: rgb(244, 175, 96);
  padding: 20px;
}
.contactList:hover{
  color: rgba(244, 96, 187, 0.856);
}
.btn-success{
  position: absolute;
    right: 104px;
    top: 71px;
}
.modall{
  position: fixed;
  top: 150px;
  right: 110px;
  z-index: 1050;
  /* display: none; */
  overflow: hidden;
  outline: 0;
}
.contact{
  background-color: rgba(244, 96, 187, 0.856);
}

.editmodall{
  position: fixed;
  top: 150px;
  right: 110px;
  z-index: 1050;
  /* display: none; */
  overflow: hidden;
  outline: 0;
  background-color: red;
}

.edit{
  background-color: rgba(205, 244, 96, 0.856);
}